body{
    margin: 0;
    padding:0;
    
}
* {
    font-family: 'Raleway', sans-serif;
}

h1{
    margin:0;
}

/* header */
header{
    width: 100vw;
    background-image: url('../assets/NuevaImagen-header.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 614px;
    position: relative;    
}

.button__red{
    background-color: #D90062;
    color: white;
    border-radius: 5px;
    height: 38px;
    outline: none;
    border:none;
}

.header__content{    
    height: inherit;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.header__content h1{
    font-weight: bold;
    font-size: 32px;
}

.header__content .button__red{
    margin-top: 9px;
    width: 170px;   
}

/* description */
.description {
    display: flex;
    margin: 20px;
    padding: 3rem 4rem 3rem 1rem;
    flex-wrap: wrap;
}

.description-left {
    text-align: center;
    padding-top: 1rem;
    flex: 33%;
}

.description-center {
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    flex: 33%;
}

.description-right {
    padding-top: 1rem;
    flex: 33%;
}

.skills-percentages {
    display: flex;
    justify-content: space-between;
}


.description-center__imagen {
    filter: grayscale(100%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left-text {
    text-align: center;
    padding-bottom: 2rem;
}

.curriculum {
    text-transform: uppercase;
    background-color: #D90062;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.skills-1 {
    height: 30px;
    display: flex;
    justify-content: center;
}

.skills-1 #box-1 {
    background-color: #474747;
    width: 90%;
    height: 50%;
}

.skills-1 #box-2 {
    background-color: #e4e4e4;
    width: 10%;
    height: 50%;
}

.skills-2 {
    height: 30px;
    display: flex;
    justify-content: center;
}

.skills-2 #box-1 {
    background-color: #474747;
    width: 85%;
    height: 50%;
}

.skills-2 #box-2 {
    background-color: #e4e4e4;
    width: 15%;
    height: 50%;
}

.skills-3 {
    height: 30px;
    display: flex;
    justify-content: center;
}

.skills-3 #box-1 {
    background-color: #474747;
    width: 80%;
    height: 50%;
}

.skills-3 #box-2 {
    background-color: #e4e4e4;
    width: 20%;
    height: 50%;
}

.skills-4 {
    height: 30px;
    display: flex;
    justify-content: center;
}

.skills-4 #box-1 {
    background-color: #474747;
    width: 75%;
    height: 50%;
}

.skills-4 #box-2 {
    background-color: #e4e4e4;
    width: 25%;
    height: 50%;
}

.skills-5 {
    height: 30px;
    display: flex;
    justify-content: center;
}

.skills-5 #box-1 {
    background-color: #474747;
    width: 60%;
    height: 50%;
}

.skills-5 #box-2 {
    background-color: #e4e4e4;
    width: 40%;
    height: 50%;
}

ul {
    font-size: 12px;
    list-style-type: none;
}

#ul-right {
    padding-left: 16px;
    padding-bottom: 15px;
}

#li-profile {
    padding-bottom: 31px;
}

#li-tools {
    padding-top: 15px;
}

#li-design {
    padding-top: 18px;
}

#li-UX {
    padding-top: 15px;
}
/* este es mi espacio de trabajo */

.section-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    width: 394px;
    margin: 0 auto;
    border-bottom: 1px solid #D90062;    
    border-top: 1px solid #D90062;
    padding-top: 14px;
    padding-bottom: 14px;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.image-container img {
    width: 33%;

}

/* contacts */
.contacts{
    width: 80%;
    margin: 0 auto;
    margin-top: 48px;
    box-shadow: 9.77778px 9.77778px 39.1111px rgba(22, 17, 17, 0.25);
}

.contacts form{             
    padding: 93px 40px 16px 40px;
    display: grid;
    grid-template-columns: 1fr;
}

.contacts form input{
    color:  #666666;
    height: 40px;
    border:none;
    border-bottom: 2px solid #666666;
    margin-bottom: 8px;
    font-size: 11px;
    outline: none;
}

.contacts form textarea{
    height: 200px;
    border-radius:4px;
    border: 2px solid #666666;
    resize: none;
    outline: none;
    margin: 16px 0px 12px 0px;
    outline: none;
    color: #666666;
    padding: 8px;
}

.contacts__btn{
    margin-left:40px;
    text-transform: uppercase;
    margin-bottom: 32px;
}
